﻿<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3>Search results for "{{search.search}}"</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <table ng-table="search.tableParams" class="table">
                        <!-- $data comes from ngTable -->
                        <tr ng-repeat="movie in $data">
                            <td data-title="'Movie title'" class="col-md-5">
                                <a ng-href="#/movies/{{movie.id}}">{{movie.title}}</a>
                            </td>
                            <td data-title="'Release year'" class="col-md-2">
                                {{movie.release_date | date:'yyyy'}}
                            </td>
                            <td data-title="'Popularity'" class="col-md-2">
                                {{movie.popularity | number:2}}
                            </td>
                            <td data-title="'Rating'" class="col-md-3">
                                {{movie.vote_average | rating}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
