﻿<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3>{{genre.name}} movies</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <table ng-table="genre.tableParams">
                        <tr>
                            <td>
                                <!-- $data comes from ngTable -->
                                <div ng-repeat="movie in $data" class="col-md-4" ng-show="movie.poster_path" style="height:160px;">
                                    <div class="media-left">
                                        <a href="#/movies/{{movie.id}}"><img ng-src="{{movie.poster_path | image}}"></a>
                                    </div>
                                    <div class="media-body">
                                        <a ng-href="#/movies/{{movie.id}}">{{movie.title}}</a>
                                        <ul class="list-unstyled">
                                            <li>Release date: {{movie.release_date | date:'dd.MM.yyyy'}}</li>
                                            <li>Popularity: {{movie.popularity | number:2}}</li>
                                            <li>Rating: {{movie.vote_average | rating}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
