﻿<div class="row" ng-show="movies.movieList.length > 0">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3>{{movies.title}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom:12px">
                Sort by:
                <select ng-model="movies.orderBy">
                    <option value="title">Title</option>
                    <option value="release_date">Release date</option>
                    <option value="-vote_average">Rating</option>
                    <option value="-popularity">Popularity</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div ng-repeat="movie in movies.movieList | orderBy:movies.orderBy" class="col-md-4" ng-show="movie.poster_path" style="height:160px;">
                        <div class="media-left">
                            <a href="#/movies/{{movie.id}}"><img ng-src="{{movie.poster_path | image}}"></a>
                        </div>
                        <div class="media-body">
                            <a ng-href="#/movies/{{movie.id}}">{{movie.title}}</a>
                            <ul class="list-unstyled">
                                <li>Release date: {{movie.release_date | date:'dd.MM.yyyy'}}</li>
                                <li>Popularity: {{movie.popularity | number:2}}</li>
                                <li>Rating: {{movie.vote_average | rating}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-hide="movies.movieList.length > 0">
    <div class="col-md-12">
        <span>There are no items to show</span>
    </div>
</div>